{% extends "PrestaShopBundle:Admin:layout.html.twig" %}

{% block content %}
	{# {% for message in app.flashes('notice') %}
						<div class="flash-notice">
							{{ message }}
						</div>
					{% endfor %} #}

	{{ form_start(form) }}
	{{ form_end(form) }}

	<a href="{{ path('city_list') }}" type="button" class="btn btn-outline-primary">Back To City list</a>

{% endblock %}
